* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
}

h1 {
    padding: 20px;
}

main {
    display: flex;
}

body {
    background-color: lightgrey;
  }

aside {
    margin: 20px;
}

form {
    width: 350px;
    height: 300px;
    background-color: grey;
    border-radius: 12px;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 30px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
  }


button {
    background: rgba(14, 12, 12, 0.944);
    color: antiquewhite;
    margin: 5px;
    border-radius: 10px;
}
  
input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
}
  
#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
#media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.media-cover-image {
    width: 250px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
.media-card {
    background-color: lightslategray;
    width: 250px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
    box-shadow: 5px 10px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

  .title {
    font-size: 18px;
    margin: 5px 0;
}       

.btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container > button {
    width: 20px;
}

.btn{
    width: 30px;
}